# Project exclude paths
/.gradle/
/Tasklist/task/build/
/Tasklist/task/out/
/Tasklist/task/out/production/classes/
/Topics/Call stack/Follow the call stack/out/
/Topics/Call stack/Follow the call stack/out/production/classes/
/Topics/For loop and arrays/Triples/out/
/Topics/For loop and arrays/Triples/out/production/classes/
/Topics/Processing strings/Create a euphonious word/out/
/Topics/Processing strings/Create a euphonious word/out/production/classes/
/Topics/Processing strings/The lucky ticket/out/
/Topics/Processing strings/The lucky ticket/out/production/classes/